.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

 .tab button:hover {
    background-color: #ddd;
 }

 .tab button.active {
    background-color: #ccc;
 }
 

 .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
    position: relative;
 }

 @keyframes fadeEffec {
    from { opacity: 0; }
    to { opacity: 1; }
 }

 /* Style the close button */
 .topright {
    position: absolute;
    right: 1rem;
    top: 0;
    cursor: pointer;
    font-size: 28px;
 }